@import "variables";

// border-box - to have any borders or padding on an element included in set width/height
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// added smooth scroll instead of auto setting where it jumps/appears to a destination in document
html{
    color: $black-olive;
    background-color: whitesmoke;
    font-family: $barlow-semi-cond;
    scroll-behavior: smooth;
}