@import "variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// added smooth scroll for my Return to Top button instead of auto setting where it jumps/appears at top of page
html{
    color: $black-olive;
    background-color: whitesmoke;
    font-family: $barlow-semi-cond;
    scroll-behavior: smooth;
}