@import "variables";

header{
    background-image: linear-gradient($honeydew, whitesmoke);
    padding-top: 25px;
}

#logo{
    width: 40vw;
    margin-left: 30vw;
}

#menuIcon{
    width: 30px;
    margin-left: 5vw;
}


// User select none means you can not select this text even after double clicking
#menu{
    user-select: none;
}

#dropDown{
    background-image: linear-gradient(whitesmoke, $honeydew, whitesmoke);
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#menu:focus-within{
    pointer-events: none;
}

#menu:focus-within #dropDown{
    display: block;
    pointer-events: all;
}

nav li{
    list-style: none;;
    padding: 25px;
    margin-left: 25px;
    a{
        text-decoration: none;
        font-size: 2rem;
    }
    a:visited{
        color: $black-olive;
    }
    a:active{
        color: $middle-blue;
    }
}

@media only screen and (min-width: 1000px){

}