@import "variables";

header{
    background-image: linear-gradient($honeydew, whitesmoke);
    padding-top: 25px;
}

#logo{
    width: 40vw;
    margin-left: 30vw;
}

#menuIcon{
    margin-left: 5vw;
}

#menu{
    user-select: none;
}

#dropDown{
    background-image: linear-gradient(whitesmoke, $honeydew, whitesmoke);
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#menu:focus-within{
    pointer-events: none;
}

#menu:focus-within #dropDown{
    display: block;
    pointer-events: all;
}

// look at these A tags later
nav li{
    list-style: none;;
    padding: 25px;
    margin-left: 25px;
    a{
        text-decoration: none;
        font-size: 1.5rem;
    }
    a:visited{
        color: $black-olive;
    }
    a:active{
        color: #005572;
    }
}