// tablet media query

@media only screen and (min-width: 600px) {
    #menuIcon{
        width: 40px;
    }
    #foodMenu{
        ul li{
            font-size: 1.2rem;
        }
    }
    // pointer events none is to disable the link for my phone number
    .phoneNumber, .callButton{
        pointer-events: none;
    }
}