// fonts
$lobster-cursive: 'Lobster', cursive;
$barlow-semi-cond: 'Barlow Semi Condensed', sans-serif;

// colors
$black-olive: #2f3130;
$green-olive: rgb(93, 124, 72);
$honeydew: #D0E1D4;
$middle-blue: #90DDF0;