@use "general";
@use "header";
@use "footer";
@import "variables";

.fluorish{
    width: 80vw;
    margin-left: 10vw;
    margin-top: 2vh;
}

.textAlign{
    text-align: center;
}

.fontBig{
    font-size: 2rem;
}

.fontMed{
    font-size: 1.4rem;
}

.lobCursive{
    font-family: $lobster-cursive;
}

.barlowFont{
    font-family: $barlow-semi-cond;
}

section{
    color: $black-olive;
    p{
        padding: 15px;
    }
    #hours > li{
        list-style-type: none;
    }
}

button{
    padding: 5px 20px;
    margin-bottom: 25px;
    background-color: $black-olive;
    a:visited{
        color: white;
    }
    a:active{
        color: purple;
    }
    a{
        color: white;
        text-decoration: none;
    }
}