@use "general";
@use "header";
@use "footer";
@import "variables";

.fluorish{
    width: 80vw;
    margin-left: 10vw;
    margin-top: 2vh;
}

.textAlign{
    text-align: center;
}

.fontBig{
    font-size: 2rem;
}

.fontMed{
    font-size: 1.4rem;
}

.fontSmall{
    font-size: .8rem;
}

.lobCursive{
    font-family: $lobster-cursive;
}

.barlowFont{
    font-family: $barlow-semi-cond;
}

.textShadow{
    text-shadow: 1px 1px rgb(150, 150, 150);
}

.slides{
    width: 90vw;
}

section{
    p{
        padding: 15px;
        color: $black-olive;
    }
    #hours > li{
        list-style-type: none;
    }
}

button{
    background-color: $black-olive;
    box-shadow: 2px 1px rgb(100, 98, 98);
    padding: 5px 20px;
    margin-bottom: 25px;
    a:visited{
        color: white;
    }
    a:active{
        color: $middle-blue;
    }
    a{
        color: white;
        text-decoration: none;
    }
}