* {
  margin: 0;
  padding: 0;
}

html {
  color: #3A3E3B;
  background-color: whitesmoke;
  font-family: "Barlow Semi Condensed", sans-serif;
  scroll-behavior: smooth;
}

header {
  background-image: linear-gradient(#D0E1D4, whitesmoke);
  padding-top: 25px;
}

#logo {
  width: 40vw;
  margin-left: 30vw;
}

#menuIcon {
  width: 30px;
  margin-left: 5vw;
}

#menu {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#dropDown {
  background-image: linear-gradient(whitesmoke, #D0E1D4, whitesmoke);
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

#menu:focus-within {
  pointer-events: none;
}

#menu:focus-within #dropDown {
  display: block;
  pointer-events: all;
}

nav li {
  list-style: none;
  padding: 25px;
  margin-left: 25px;
}
nav li a {
  text-decoration: none;
  font-size: 1.5rem;
}
nav li a:visited {
  color: #3A3E3B;
}
nav li a:active {
  color: #005572;
}

footer {
  background-image: linear-gradient(whitesmoke, #D0E1D4);
  display: grid;
  grid-template-columns: 40px 40px 1fr;
  justify-items: center;
  align-items: center;
  padding: 50px;
  margin-top: 100px;
}
footer #facebook {
  width: 40px;
}
footer #instagram {
  width: 30px;
  height: 30px;
}

@media only screen and (min-width: 600px) {
  #menuIcon {
    width: 40px;
  }
  #menuNav a {
    font-size: 2rem;
  }
}
.fontBig {
  font-size: 2rem;
}

.fontMed {
  font-size: 1.4rem;
}

.fontSmall {
  font-size: 0.8rem;
}

.lobCursive {
  font-family: "Lobster", cursive;
  text-shadow: 1px 1px rgb(150, 150, 150);
}

.slides {
  width: 90vw;
}

#youtube {
  width: 400px;
  height: 225px;
}

#googleMap {
  width: 350px;
  height: 300px;
}

#arrowIcon {
  width: 40px;
}

.arrowIconSmall {
  width: 20px;
  margin-bottom: 10px;
}

#scrollTop {
  display: grid;
  justify-items: end;
  margin-right: 50px;
}

img {
  border-radius: 5px;
}

section {
  text-align: center;
}
section p {
  padding: 15px;
}
section #hours > li {
  list-style-type: none;
}
section div a {
  text-decoration: none;
  font-weight: bold;
  color: #3A3E3B;
}
section div a:visited {
  color: #3A3E3B;
}
section div a:active {
  color: #90DDF0;
}

#contactInfo {
  margin-top: 35px;
}

#phoneIcon {
  width: 18px;
}

.indexSections {
  display: grid;
  justify-items: center;
  align-items: center;
}

button {
  background-color: #3A3E3B;
  border-radius: 5px;
  box-shadow: 2px 1px rgb(100, 98, 98);
  padding: 5px 20px;
  margin-top: 20px;
  margin-bottom: 35px;
}
button a:visited {
  color: white;
}
button a:active {
  color: #90DDF0;
}
button a {
  color: white;
  text-decoration: none;
}

#foodMenu {
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
}
#foodMenu ul li {
  list-style: none;
  margin: 25px;
}
#foodMenu .menuImg {
  width: 90vw;
  filter: brightness(60%);
}

#menuNav {
  margin: 20px;
}
#menuNav li {
  display: inline;
  padding: 0px;
  margin: 2.5px;
}
#menuNav a:visited {
  color: #3A3E3B;
}
#menuNav a:active {
  color: #90DDF0;
}
#menuNav a {
  color: #3A3E3B;
  font-size: 1.2rem;
}

.menuHeaders {
  color: whitesmoke;
  text-shadow: 1px 1px rgb(150, 150, 150);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menuTitle {
  position: relative;
}/*# sourceMappingURL=style.css.map */