* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #3A3E3B;
  background-color: whitesmoke;
  font-family: "Barlow Semi Condensed", sans-serif;
  scroll-behavior: smooth;
}

header {
  background-image: linear-gradient(#D0E1D4, whitesmoke);
  padding-top: 25px;
}

#logo {
  width: 40vw;
  margin-left: 30vw;
}

#menuIcon {
  width: 30px;
  margin-left: 5vw;
}

#menu {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#menu:focus-within {
  pointer-events: none;
}

#menu:focus-within #dropDown {
  display: block;
  pointer-events: all;
}

#dropDown {
  background-image: linear-gradient(whitesmoke, #D0E1D4, whitesmoke);
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
#dropDown nav li {
  padding: 25px;
  margin-left: 25px;
}
#dropDown a {
  font-size: 2rem;
}

nav li {
  list-style: none;
}
nav li a {
  text-decoration: none;
}
nav li a:visited {
  color: #3A3E3B;
}
nav li a:active {
  color: #90DDF0;
}

#navBarHorizontal nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 1px #3A3E3B solid;
  margin-top: 10px;
  padding: 10px;
}
#navBarHorizontal nav li {
  padding: 0;
  margin: 0 auto;
}
#navBarHorizontal nav a {
  font-size: 1.7rem;
}

@media only screen and (min-width: 1px) {
  #navBarHorizontal {
    display: none;
  }
}
@media only screen and (min-width: 700px) {
  #navBarHorizontal {
    display: none;
  }
}
@media only screen and (min-width: 1000px) {
  #menu {
    display: none;
  }
  #navBarHorizontal {
    display: contents;
  }
}
footer {
  font-size: 0.8rem;
  background-image: linear-gradient(whitesmoke, #D0E1D4);
  display: grid;
  grid-template-columns: 40px 40px 1fr;
  justify-items: center;
  align-items: center;
  padding: 50px;
  margin-top: 100px;
}
footer #facebook {
  width: 40px;
}
footer #instagram {
  width: 30px;
  height: 30px;
}

.lobCursive {
  font-family: "Lobster", cursive;
  font-size: 2rem;
  text-shadow: 1px 1px rgb(150, 150, 150);
}

#youtube {
  width: 400px;
  height: 225px;
  margin-bottom: 30px;
}

#googleMap {
  width: 350px;
  height: 300px;
  margin-bottom: 30px;
}

#arrowIcon {
  width: 40px;
}

.arrowIconSmall {
  width: 20px;
  margin-bottom: 10px;
}

#phoneIcon {
  width: 22px;
}

.phoneNumber {
  margin-bottom: 20px;
  font-size: 1.1rem;
}

#scrollTop {
  display: grid;
  justify-items: end;
  margin-right: 50px;
  margin-top: 50px;
}

main {
  text-align: center;
}

section {
  text-align: center;
  display: grid;
  justify-items: center;
  align-items: center;
}
section p {
  padding: 15px;
}
section #hours > li, section p, section .phoneNumber {
  list-style-type: none;
  font-size: 1.4rem;
  position: relative;
}
section div a {
  text-decoration: none;
  font-weight: bold;
  color: #3A3E3B;
}
section div a:visited {
  color: #3A3E3B;
}
section div a:active {
  color: #90DDF0;
}

#ourStory {
  font-size: 1.4rem;
}

button {
  background-color: #D0E1D4;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 5px;
  padding: 5px 20px;
  margin-top: 20px;
  margin-bottom: 35px;
}
button a:visited {
  color: #3A3E3B;
}
button a:active {
  color: #90DDF0;
}
button a {
  color: #3A3E3B;
  text-decoration: none;
  font-size: 1.2rem;
}

#indexMain {
  display: grid;
  justify-items: center;
  align-items: center;
  row-gap: 25px;
}

#menuNav {
  margin: 20px;
}
#menuNav li {
  display: inline;
  padding: 0px;
  margin: 2.5px;
}
#menuNav a:visited {
  color: #3A3E3B;
}
#menuNav a:active {
  color: #90DDF0;
}
#menuNav a {
  color: #3A3E3B;
  font-size: 1.2rem;
}

.menuHeaders {
  color: whitesmoke;
  font-size: 2rem;
  text-shadow: 1px 1px rgb(150, 150, 150);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menuHeaders a {
  text-decoration: none;
  color: whitesmoke;
}
.menuHeaders a:active {
  color: #90DDF0;
}
.menuHeaders a:visited {
  color: whitesmoke;
}
.menuHeaders p {
  font-size: 2rem;
}

.menuImg, .contactImg {
  height: 25vh;
  filter: brightness(60%);
  border-radius: 5px;
}

.ourStoryImg {
  height: 20vh;
  filter: brightness(60%);
  border-radius: 5px;
}

.menuTitle {
  position: relative;
}

#foodMenu {
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
}
#foodMenu ul li {
  list-style: none;
  margin: 25px;
}

@media only screen and (min-width: 700px) {
  #logo {
    width: 30vw;
    margin-left: 35vw;
  }
  #menuIcon {
    width: 40px;
  }
  #foodMenu ul li {
    font-size: 1.2rem;
  }
  .phoneNumber, .callButton {
    pointer-events: none;
  }
  nav li a {
    font-size: 2.5rem;
  }
  .menuImg {
    height: 40vh;
  }
  .sectionColumns {
    grid-template-columns: 1fr 1.5fr;
  }
  .contactImg {
    height: 40vh;
  }
  #googleMap {
    width: 375px;
    height: 325px;
  }
}
@media only screen and (min-width: 1000px) {
  #logo {
    width: 20vw;
    margin-left: 40vw;
  }
  #indexMain {
    grid-template-columns: 1fr 1fr;
    row-gap: 25px;
  }
  .menuImg {
    height: 35vh;
  }
  .contactImg {
    height: 45vh;
  }
  #googleMap {
    width: 500px;
    height: 400px;
  }
  #youtube {
    width: 480px;
    height: 270px;
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 1400px) {
  #logo {
    width: 15vw;
    margin-left: 42.5vw;
  }
  .menuImg {
    height: 42vh;
  }
}/*# sourceMappingURL=style.css.map */